<div class="preview-card">
  <div class="preview-tape">TAKE A QUICK TOUR OF BASECAMP</div>
  <%= image_tag "https://images.unsplash.com/photo-1739255269758-cf51fbc723dc", alt: "Basecamp interface preview", class: "preview-image" %>
</div> 