<section class="testimonials">
  <div class="slider">
    <div class="slide-track">
      <div class="slide">"Best app for teams" ★★★★★</div>
      <div class="slide">"Awesome service" ★★★★★</div>
      <div class="slide">"Gets better and better" ★★★★★</div>
      <div class="slide">"Great collaboration tool" ★★★★★</div>
      <div class="slide">"Great software" ★★★★★</div>
      
      <div class="slide">"Best app for teams" ★★★★★</div>
      <div class="slide">"Awesome service" ★★★★★</div>
      <div class="slide">"Gets better and better" ★★★★★</div>
      <div class="slide">"Great collaboration tool" ★★★★★</div>
      <div class="slide">"Great software" ★★★★★</div>
    </div>
  </div>
</section> 